{% extends "base.html" %}
{% load entities %}

{% block title %}New {{ type }} version - {% endblock title %}

{% block content %}
  {% include "./includes/entity_header.html" %}

  {% if not latest_version %}
  <p>This {{ type }} has no versions.</p>
  {% endif %}

  <h2>Create a new version of this {{ type }}</h2>

  <form method="POST" action="">
    {% include "./includes/version_files.html" with version=latest_version edit=True master=master_filename %}

    {% include "./includes/upload.html" %}

    <p>
      <button id="savebutton">Create Version</button>
    </p>
  </form>

{% endblock content %}
