{% extends "base.html" %}
{% load entities %}

{% block title %}{{ type|capfirst }} versions - {% endblock title %}

{% block content %}
  {% include "./includes/entity_header.html" %}

  <h2>Versions</h2>

  {% can_create_version entity as permission %}
  {% if permission %}
  <a href="{% entity_url 'newversion' entity %}" class="button">Add new version</a>
  {% endif %}

  <div id="entityversionlist">
    <div id="entityversionlist_content">
      <ul>
      {% for tags, commit in versions %}
      <li>
        <p>
          <input class="comparisonCheckBox" type="checkbox" value="{{ entity.id }}:{{ commit.sha }}">
          <strong>
            <a class="entityversionlink" href="{% entity_version_url 'version' entity commit %}">
              {% include "./includes/version_name.html" with tags=tags version=commit only %}
            </a>
          </strong>
          by <em>{{ commit.author }}</em><br />
          <span class="suppl">
            <small>created </small> <time>{{commit.timestamp}}</time>
            <small>containing</small> {{ commit.numfiles }} file{{ commit.numfiles|pluralize}}
          </span><br />
          <span class="suppl">
            {{ commit.message|linebreaksbr }}
          </span>
        </p>
      </li>
      {% endfor %}
      </ul>
    </div>
    <div id="compareVersionsSelectors">
        [<small><a id="compareVersionsSelectorsAll">select all</a></small>]
        [<small><a id="compareVersionsSelectorsNone">select none</a></small>]
    </div>
    <button id="compareVersions" data-base-href="{% url_entity_comparison_base entity.url_type %}">compare selected versions</button>
  </div>


{% endblock %}
