{% extends "base.html" %}
{% load entities %}

{% block title %}New {{ type }} version - {% endblock title %}

{% block content %}
  {% include "./includes/entity_header.html" %}

  {% if not latest_version %}
  <h2>Add files to the initial version of this {{ type }}</h2>
  {% else %}
  <h2>Create a new version of this {{ type }}</h2>
  {% endif %}


  <form method="POST" action="">
    {% include "./includes/version_files.html" with version=latest_version edit=True master=master_filename %}

    {% include "./includes/upload.html" %}

    <p>
      <button id="savebutton">Create Version</button>
        <a class="button" href="{% entity_url 'detail' entity %}" title="Do not create version">Cancel</a>
    </p>
  </form>

{% endblock content %}
