{% extends "base.html" %}
{% load entities %}

{% block title %}Your {{ type }}s - {% endblock title %}

{% block content %}

  <a class="button {% if type == 'model' %}selected{% endif %}" href="{% url 'entities:list' 'model' %}">models</a>
  <a class="button" href="{% url 'entities:modelgroup' %}">model groups</a>
  <a class="button {% if type == 'protocol' %}selected{% endif %}" href="{% url 'entities:list' 'protocol' %}">protocols</a>
  <a class="button" href="{% url 'datasets:list' %}">datasets</a>
  <a class="button {% if entity_type == 'fittingspec' %}selected{% endif %}" href="{% url 'fitting:list' 'spec' %}">fitting specifications</a>

  <section id="{{ entity_type }}list">
    <h2>Your {{ type }}s</h2>

    {% can_create_entity entity_type as permission %}
    {% if permission %}
    <small><a href="{% ns_url 'new' url_type %}" class="pointer">Create a new {{ type }}</a></small>
    {% else %}
    <small>Your account doesn't have the authority to upload {{ type }}s; please <a href="{% url 'contact' %}">contact us</a> to request permission.</small>
    {% endif %}

    <ul>
      {% for entity in object_list %}
        <li title="{{ entity.name }}">
          <strong><a href="{% entity_url 'detail' entity %}">{{ entity.name }}</a></strong>

          {% can_create_version entity as permission %}
          {% if permission %}
          <small>(<a href="{% entity_url 'newversion' entity %}">add new version</a>)</small>
          {% endif %}
        </li>
      {% endfor %}
    </c:forEach>
  </ul>
  </section>
{% endblock content %}
