{% extends "base.html" %}
{% load entities %}
{% load staticfiles %}

{% block content %}
  <h1 id="entityname">
    <small>{{ type|capfirst }}: </small><span>{{ entity.name }}</span>
  </h1>

  <div class="suppl">
    <small>Created <time>{{entity.creation_date}}</time> by <em>{{entity.author.full_name}}</em>.</small>
  </div>

  <div id="entityversion">
    <div class="closebtn">
      <small><a href="{{ entity|url_versions }}">list all versions</a></small>
    </div>
    <h2 id="entityversionname">
      <small>Version:</small>
      {% if tag %}
        <span title="Full identifier: {{ version.hexsha }}"><b>{{ tag.name }}</b></span>
      {% else %}
        <span title="Full identifier: {{ version.hexsha }}"><b>{{ version.hexsha|truncatechars:11 }}</b></span>
      {% endif %}
    </h2>
    <div class="suppl">
      <small>
        Created <time id="entityversiontime">{{ version.committed_date|as_datetime }}</time>
        by <em id="entityversionauthor">{{ version.author }}</em>.
        Visibility: {{ entity.visibility }}
          <img src="{% static 'img/info.png' %}" alt="help" title="{{ entity.VISIBILITY_HELP }}" />.
      </small>
    </div>

    <div id="entityversiondetails">

      <div id="entityversionfiles">
        <h3>Files attached to this version</h3>

       {% include "entities/includes/version_files.html" %}

      </div>

    </div>
  </div>

{% endblock %}
