{% extends "base.html" %}
{% load entities %}
{% load experiments %}
{% load staticfiles %}

{% block title %}{{ type|capfirst }} details - {% endblock title %}

{% block content %}
  {% include "./includes/entity_header.html" %}
  {% can_create_version entity as permission %}


  <div id="entitydetails">
  </div>

  <div id="entityversion" data-entity-type="{{ entity.entity_type }}"
       data-can-edit="{% if permission %}true{% else %}false{% endif %}"
       data-alter-file-href="{% url 'entities:alter_file' entity.entity_type entity.id %}"
       data-get-proto-interfaces-href="{% url 'entities:get_protocol_interfaces' %}"
       data-version-json-href="{{ entity|url_version_json:version }}">
    <div class="closebtn">
      <small>
        <a href="{{ entity|url_versions }}">list all versions</a>
        {% if permission %}
          | <a href="{{ entity|url_newversion }}">add new version</a>
        {% endif %}
      </small>
    </div>

    <h2 id="entityversionname">
      <small>Version:</small>
      {% include "./includes/version_name.html" with tags=tags version=version only %}
    </h2>

    <div class="suppl">
      <small>
        Created <time id="entityversiontime">{{ version.committed_at }}</time>
        by <em id="entityversionauthor">{{ version.author }}</em>.
        <div id="versionVisibility" data-change-href="{{ entity|url_change_version_visibility:version }}">
          {% if permission %}
            <a href="{{ entity|url_tag_version:version }}">Add tag</a>.
            <form method="POST" action="">
              Change visibility: {{ form.visibility }}
              <img src="{% static 'img/info.png' %}" alt="help" title="{{ entity.VISIBILITY_HELP }}" />
              <span id="versionVisibilityAction"></span>
                {% if perms.create_experiment %}
                  Run experiments:
                    <a title="Run experiments" href="{{ entity|url_runexperiments }}">
                        <img src="{% static 'img/batch.png' %}" alt="Run experiments:"
                             title="Run experiments using this {{ entity.entity_type }}"/>
                {% endif %}
           </form>
           {% else %}
            Visibility: {{ visibility }}
            <img src="{% static 'img/info.png' %}" alt="help" title="{{ entity.VISIBILITY_HELP }}" />
          {% endif %}
        </div>
      </small>
    </div>

    <div id="entity-view-buttons" class="link-list">
      <a class="button selected" href="{{ entity|url_version:version }}" title="View files associated with this {{ entity.entity_type }}">Files</a>
      <div class="button hover-menu" title="Compare... (hover to see options)">Compare&hellip;<ul>
        <li><a href="{{ entity|url_compare_experiments:version }}" title="Compare experiment results of {% if type == 'model' %}protocols run on this model version{% else %}this protocol version run on different models{% endif %}">Results with different {{ other_type }}s</a></li>
        <li><a href="{{ entity|url_version_comparison_matrix }}" title="Compare experiment results from other versions of this {{ type }}">Results from other versions</a></li>
        <!--li><a href="" title="Show differences between versions of this {{ type }}">Other versions</a></li-->
      </ul></div>
      <!--
      {% if type == 'model' %}
        <a class="button" href="" title="Fit the parameters of this model to data">Fit</a>
      {% endif %}
      <a class="button" href="" title="Show results of parameter fitting experiments run {% if type == 'model' %}on this model{% else %}using this protocol{% endif %}">Fittings</a>
      -->
    </div>

    {% block content_detail %}
    <div id="entityversiondetails">

      <div id="entityversionfiledetails">
          <div class="closebtn"><small>
              <a id="exportPlot" style="display: none;">export plot data |</a>
          <a id="zoomFile">zoom |</a>
              <a id="entityversionfileclose">&otimes; close</a>
          </small></div>
          <h3 id="entityversionfilename"></h3>
          <div class="suppl"><small>Created <time id="entityversionfiletime"></time> by
              <em id="entityversionfileauthor"></em>.</small></div>
          <div id="entityversionfiledisplay"></div>
      </div>
      <div id="entityversionfiles">
        <h3>Associated files</h3>
        <table id="entityversionfilestable">
        </table>
        <a id='downloadArchive' title="Download a 'combine' format archive of all the files">
          <img src="{% static 'img/download.png' %}" title="Download a 'combine' format archive of all the files"/>
            Download archive of all files
        </a>
        <div id="entityversionfilesreadme"></div>
      </div>

    </div>
    {% endblock %}
  </div>

{% endblock %}
