{% extends "base.html" %}
{% load entities %}

{% block content %}
  <h1 id="entityname">
    <small>{{ type|capfirst }}: </small><span>{{ entity.name }}</span>
  </h1>

  <div class="suppl">
    <small>Created <time>{{entity.creation_date}}</time> by <em>{{entity.author.full_name}}</em>.</small>
    <br>
    <small>Visibility: {{ entity.visibility }}</small>
  </div>

  <h2>Versions</h2>

  {% can_create_version entity.entity_type as permission %}
  {% if permission %}
  <a href="{{ entity|url_newversion }}" class="button">Add new version</a>
  {% endif %}

  <div id="entityversionlist_content">
    <ul>
    {% for tag, commit in versions %}
    <li>
      <p>
        <strong>
          <a class="entityversionlink" href="{{ entity|url_version:commit }}">
          {% if tag %} <b>{{ tag.name }}</b> <small>({% endif %}{% spaceless %}
          <span title="Full identifier: {{ commit.hexsha }}">{{ commit.hexsha|truncatechars:11 }}</span>
          {% endspaceless %}{% if tag %})</small>{% endif %}
          </a>
        </strong>
        by <em>{{ commit.author }}</em><br />
        <span class="suppl">
          <small>created </small> <time>{{commit.committed_date|as_datetime}}</time>
          {% with commit|number_of_files as numfiles %}
          <small>containing</small> {{ numfiles }} file{{ numfiles|pluralize}}
          {% endwith %}
        </span><br />
        <span class="suppl">
          {{ commit.message|linebreaksbr }}
        </span>
      </p>
    </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
