{% extends "base.html" %}
{% load entities %}

{% block title %}{{ entity.entity_type|capfirst }} editors - {% endblock title %}

{% block content %}
  <h1 id="entityname">
    <small>{{ entity.entity_type|capfirst }}: </small><span>{{ entity.name }}</span>
  </h1>

  <h2>Add or remove editors for this {{ entity.entity_type }}</h2>

  <form method="POST" action="">
    {% csrf_token %}
    {{ formset.as_p }}

    <p>
      <button id="savebutton">Save</button>
    </p>
  </form>

{% endblock content %}
