{% extends "base.html" %}
{% load entities %}
{% load staticfiles %}

{% block title %}{{ entity.entity_type|capfirst }} collaborators - {% endblock title %}

{% block content %}
  {% include "./includes/entity_header.html" %}

  <h2><small>Add or remove collaborators for this {{ entity.entity_type }}</small></h2>

  <form method="POST" action="">
    {% csrf_token %}

    {{ formset.management_form }}
    <p>Collaborators can create new versions of the {{ entity.entity_type }}, add tags and change the {{ entity.entity_type }} visibility.</p>

    <table class="formset">
      <tbody>
        {% for form in formset.forms %}

          <tr>
              <td>
                {% if form.collaborator %}
                  {{ form.collaborator.get_full_name }}
                {% endif %}
                {{ form.email }}
                {{ form.email.errors.as_ul }}
              </td>
              <td>
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                <a href="#" class="delete-row">
                  {{ form.DELETE }}
                  <img src="{% static 'img/delete.png' %}" alt="remove collaborator" title="remove collaborator"/>
                </a>
              </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>

    <p>
      <button id="savebutton">Save</button>
    </p>
  </form>

{% endblock content %}
