{% extends "base.html" %}
{% load entities %}

{% block content %}

  <a class="button {% if type == 'model' %}selected{% endif %}" href="{% url "entities:models" %}" id="modelchooser">models</a>
  <a class="button {% if type == 'protocol' %}selected{% endif %}" href="{% url "entities:protocols" %}" id="protocolchooser">protocols</a>
  <a class="button {% if type == 'experiment' %}selected{% endif %}" href="{% url "experiments:list" %}" id="experimentchooser">experiments</a>

  <section id="{{ type }}list">
    <h2>Your {{ type }}s</h2>

    {% can_create_entity type as permission %}
    {% if permission %}
    <small><a href="{{ type|url_new }}" id="add{{ type }}link" class="pointer">create a new {{ type }}</a></small>
    {% else %}
    <small>Your account doesn't have the authority to upload {{ type }}s; please <a href="">contact us</a> to request permission.</small>
    {% endif %}

    <ul>
      {% for entity in object_list %}
        <li title="{{ entity.name }}">
          <strong><a href="{{ entity|url_entity }}">{{ entity.name }}</a></strong>

          {% can_create_version type as permission %}
          {% if permission %}
          <small>(<a href="{{ entity|url_newversion }}">add new version</a>)</small>
          {% endif %}
        </li>
      {% endfor %}
    </c:forEach>
  </ul>
  </section>
{% endblock content %}
