{% extends "base.html" %}
{% load entities %}
{% load staticfiles %}

{% block title %}{{ entity.entity_type|capfirst }} editors - {% endblock title %}

{% block content %}
  <h1 id="entityname">
    <small>{{ entity.entity_type|capfirst }}: </small><span>{{ entity.name }}</span>
  </h1>

  <h2>Add or remove editors for this {{ entity.entity_type }}</h2>

  <form method="POST" action="">
    {% csrf_token %}

    {{ formset.management_form }}

    <table class="formset">
      <tbody>
        {% for form in formset.forms %}

          <tr>
              <td>
                {% if form.email.value %}
                  {{ form.email.value }}
                {% endif %}
                {{ form.email }}
                {{ form.email.errors.as_ul }}
              </td>
              <td>
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                <a href="#" class="delete-row">
                  {{ form.DELETE }}
                  <img src="{% static 'img/delete.png' %}" alt="remove editor" title="remove editor"/>
                </a>
              </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>

    <p>
      <button id="savebutton">Save</button>
    </p>
  </form>

{% endblock content %}
