{% extends "base.html" %}
{% load entities %}

{% block title %}{{ entity.entity_type|capfirst }} editors - {% endblock title %}

{% block content %}
  <h1 id="entityname">
    <small>{{ entity.entity_type|capfirst }}: </small><span>{{ entity.name }}</span>
  </h1>

  <h2>Add or remove editors for this {{ entity.entity_type }}</h2>

  <form method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
    {% for form in formset.forms %}
      {% if forloop.first %}
      <thead>
        <tr>
          {% for field in form.visible_fields %}
          <th>{{ field.label|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% endif %}

      <tr>
        {% for field in form.visible_fields %}
          <td>
            {{ field }}
            {{ field.errors.as_ul }}
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>

    <p>
      <button id="savebutton">Save</button>
    </p>
  </form>

{% endblock content %}
