{% extends "base.html" %}


{% block content %}

  <a class="button selected" href="{% url "entities:models" %}" id="modelchooser">models</a>
  <a class="button" href="{% url "entities:protocols" %}" id="protocolchooser">protocols</a>

  <section id="modellist">
    <h2>Your models</h2>

    {% if perms.entities.create_model %}
      <small><a href="{% url "entities:new_model" %}" id="addmodellink" class="pointer">create a new model</a></small>
    {% else %}
      <small>Your account doesn't have the authority to upload models; please <a href="">contact us</a> to request permission.</small>
    {% endif %}

    <ul>
      {% for model in object_list %}
        <li title="{{ model.name }}">
          <strong><a href="{% url "entities:model" model.id %}">{{model.name}}</a></strong>

          {% if perms.entities.create_model_version %}
            <small>(<a href="{% url "entities:model_newversion" model.id %}">add new version</a>)</small>
          {% endif %}
        </li>
      {% endfor %}
    </c:forEach>
  </ul>
  </section>
{% endblock %}
