{% extends "base.html" %}
{% load staticfiles %}
{% load entities %}

{% block title %}Model group -{{ object.title }} {% endblock title %}
{% block content %}
<h1>Model group: {{ object.title }}</h1>
<small>Created <time>{{object.created_at}}</time> by <em>{{object.author.full_name}}</em>.

{% can_delete_entity object as can_delete %}
{% if can_delete %}
  <a title="Delete this model group" href="{% url 'entities:modelgroup_delete' object.id %}">
    <img src="{% static 'img/delete.png' %}" alt="Delete this model group"/>
    Delete {{object.title}}
  </a>
{% endif %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
{% endblock %}
