{% extends "base.html" %}
{% load staticfiles %}
{% load entities %}
  {% block title %}{% if form.title.value %}Model group {{ object.title }}{% else %}New model group{% endif %} - {% endblock title %}

{% block content %}
{% if object.title %}{% include "./includes/modelgroup_header.html" %}{% endif %}
<div id='newmodelgroupform'>
  {% if not object.id %}<h1>Create model group</h1>{% endif %}

  <form method="POST" action="">
    {% csrf_token %}

    <p>{{ form.title.label_tag }} {{ form.title }}</p>
    {% if  form.title.errors  %}
        <ul class="errorlist"><li>{{ form.title.errors }}</li></ul>
    {% endif %}
    <p>{{ form.visibility.label_tag }} {{ form.visibility }} <span class="helptext">{{form.visibility.help_text | safe }}</span></p>

    <p>{{ form.models.label_tag }}
    {% if  form.models.errors  %}
        <ul class="errorlist"><li>{{ form.models.errors }}</li></ul>
    {% endif %}
    <ul id="id_models" class="checkboxesList">
    {% for model in form.models.field.queryset %}
        <li><label for="id_models_{{ forloop.counter0 }}"><input {% if model in object.models.all %} checked {% endif %} type="checkbox" name="models" value="{{ model.id }}" class="checkboxesList" id="id_models_{{ forloop.counter0 }}">
            <a href="{% entity_url 'detail' model %}"> {{ model.name  }}  (<em>visibility: {{ model.visibility }}{% if model.author != user %}, by {{ model.author.full_name }}{% endif %}</em>)</a>
        </label></li>
    {% endfor %}
    </ul></p>
    <p>
    <button id="savebutton">Save model group</button>
    </p>
  </form>

</div>

{% endblock %}
