{% extends "base.html" %}

{% block content %}
  <h1 id="entityname">
    <small>{{ type|capfirst }}: </small><span>{{ entity.name }}</span>
  </h1>

  <div class="suppl">
    <small>Created <time>{{entity.creation_date}}</time> by <em>{{entity.author.full_name}}</em>.</small>
  </div>

  <h2>Files</h2>
  <ul>
  {% for file in entity.files.all %}
    <li>{{ file.original_name }}</li>
  {% endfor %}
  </ul>
  <a href="{% url "entities:protocol_newversion" entity.id %}">add new version</a>
{% endblock %}
