{% extends "base.html" %}


{% block content %}

  <a class="button" href="{% url "entities:models" %}" id="modelchooser">models</a>
  <a class="button selected" href="{% url "entities:protocols" %}" id="protocolchooser">protocols</a>

  <section id="protocollist">
    <h2>Your protocols</h2>

    {% if perms.entities.create_protocol %}
      <small><a href="{% url "entities:new_protocol" %}" id="addprotocollink" class="pointer">create a new protocol</a></small>
    {% else %}
      <small>Your account doesn't have the authority to upload protocols; please <a href="">contact us</a> to request permission.</small>
    {% endif %}

    <ul>
      {% for protocol in object_list %}
        <li title="{{ protocol.name }}">
          <strong><a href="{% url "entities:protocol" protocol.id %}">{{protocol.name}}</a></strong>

          {% if perms.entities.create_protocol_version %}
            <small>(<a href="{% url "entities:protocol_newversion" protocol.id %}">add new version</a>)</small>
          {% endif %}
        </li>
      {% endfor %}
    </c:forEach>
  </ul>
  </section>
{% endblock %}
