{% extends "base.html" %}


{% block content %}
  <h1 id="entityname">
    <small>{{ type|capfirst }}: </small><span>{{ entity.name }}</span>
  </h1>

  <div class="suppl">
    <small>Created <time>{{entity.creation_date}}</time> by <em>{{entity.author.full_name}}</em>.</small>
  </div>

  <h2>New version</h2>

  <form method="POST" action="">

    {% include "entities/includes/upload.html" %}

    <p>
      <button id="savebutton">Create Version</button>
    </p>
  </form>

{% endblock content %}
