{% extends "base.html" %}
{% load staticfiles %}
{% load entities %}

{% block title %}{% if object.id %}Story {{ object.title }}{% else %}New Story{% endif %} - {% endblock title %}

{% block content %}
  {% if object.id %}{% include "./includes/story_header.html" %}{% endif %}
<div id='newstoryform'>
  {% if not form.title.value %}<h1>Create story</h1>{% endif %}

  <form method="POST" action="">
    {% csrf_token %}

    <p>{{ form.title.label_tag }} {{ form.title }}</p>
    {% if  form.title.errors  %}
        <ul class="errorlist"><li>{{ form.title.errors }}</li></ul>
    {% endif %}
    <p>{{ form.visibility.label_tag }} {{ form.visibility }} <span class="helptext">{{form.visibility.help_text | safe }}</span></p>

    <p>{{ form.modelgroups.label_tag }}
    {% if  form.modelgroups.errors  %}
        <ul class="errorlist"><li>{{ form.modelgroups.errors }}</li></ul>
    {% endif %}
    <ul id="id_modelgroups" class="checkboxesList">
    {% for modelgroup in form.modelgroups.field.queryset %}
        {% can_view_modelgroup modelgroup as can_view %}
        <li><label for="id_modelgroups_{{ forloop.counter0 }}"><input {% if modelgroup in object.modelgroups.all %} checked {% endif %} {% if not can_view %} disabled {% endif %} type="checkbox" name="modelgroups" value="{{ modelgroup.id }}" class="checkboxesList" id="id_modelgroups_{{ forloop.counter0 }}">
          {% if can_view %}<a href="{% url 'entities:modelgroup_edit' modelgroup.id %}">{% endif %} {{ modelgroup.title  }}  {% if modelgroup.author != user %}<em>(by {{ modelgroup.author.full_name }})</em>{% endif %}{% if can_view %}</a>{% endif %}
          {% if not can_view %} <input type="hidden"  name="modelgroups" value="{{ modelgroup.id }}" id="id_modelgroups_{{ forloop.counter0 }}" value=on> {% endif %}
        </label></li>
    {% endfor %}
    </ul></p>

    <p>{{ form.othermodels.label_tag }}
    {% if  form.othermodels.errors  %}
        <ul class="errorlist"><li>{{ form.othermodels.errors }}</li></ul>
    {% endif %}
    <ul id="id_othermodels" class="checkboxesList">
    {% for othermodel in form.othermodels.field.queryset %}
        {% can_view_entity othermodel as can_view %}
        <li><label for="id_othermodels_{{ forloop.counter0 }}"><input {% if othermodel in object.othermodels.all %} checked {% endif %} {% if not can_view %} disabled {% endif %} type="checkbox" name="othermodels" value="{{ othermodel.id }}" class="checkboxesList" id="id_othermodels_{{ forloop.counter0 }}">
          {% if can_view %}<a href="{% entity_url 'detail' othermodel %}">{% endif %} {{ othermodel.name  }}  {% if othermodel.author != user %}<em>(by {{ othermodel.author.full_name }})</em>{% endif %}{% if can_view %}</a>{% endif %}
          {% if not can_view %} <input type="hidden"  name="othermodels" value="{{ othermodel.id }}" id="id_othermodels_{{ forloop.counter0 }}" value=on> {% endif %}
        </label></li>
    {% endfor %}
    </ul></p>

    <p>{{ form.description.label_tag }}
    {% if  form.description.errors  %}
      <ul class="errorlist"><li>{{ form.description.errors }}</li></ul>
    {% endif %}
    {{ form.description }}
    </ul></p>
    <p>
    <button id="savebutton">Save Story</button>
    </p>
  </form>

</div>

<link rel="stylesheet" href="{% static 'simplemde/simplemde.min.css' %}">
<script src="{% static 'simplemde/simplemde.min.js' %}"></script>
<script>
var simplemde = new SimpleMDE({hideIcons:['guide', 'quote', 'heading'], showIcons: ['strikethrough', 'heading-1', 'heading-2', 'heading-3', 'code', 'table', 'horizontal-rule', 'undo', 'redo']});
</script>

{% endblock %}
