{% load staticfiles %}
{% load entities %}

<h1 id="entityname">
  <a href="{% ns_url 'detail' entity.url_type entity.id %}"><small>{{ type|capfirst }}: </small><span>{{ entity.name }}</span></a>
</h1>

<div class="suppl">
  <small>Created <time>{{entity.created_at}}</time> by <em>{{entity.author.full_name}}</em>.
    {% can_delete_entity entity as can_delete %}
    {% if can_delete %}
      Delete {{ type }}:
      <a title="delete all versions of this {{ type }}" href="{% entity_url 'delete' entity %}">
        <img src="{% static 'img/delete.png' %}" alt="delete all versions of this {{ type }}"
             title="delete all versions of this {{type}}"/></a>
    {% endif %}
    {% can_manage_entity entity as can_manage %}
    {% if can_manage %}
      &nbsp;
      <a title="manage collaborators for this {{ type }}" href="{% entity_url 'entity_collaborators' entity %}">
        Manage collaborators |
      </a>
      <a title="Transfer ownership of {{ type }}" href="{% entity_url 'transfer' entity %}">
        Transfer ownership |
      </a>

    {% endif %}
    <a title="Rename {{ type }}" href="{% entity_url 'rename' entity %}">
        Rename {{ type }}
      </a>
      <br>
    {% if entity.protocol %}
      Linked protocol:
      <a href="{% url 'entities:detail' 'protocol' entity.protocol.pk %}">{{ entity.protocol.name }}</a>
    {% endif %}
  </small>
</div>
