{% load entities %}
{% load static %}

<h3>Associated Files</h3>
<table id="entityversionfilestable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {% if version %}
    {% for file in version.tree.blobs %}
      <tr {% if file.name == delete_file %} class="deleting"{% endif %}>
        <td class="filename">
          {{ file.name }}
          {% if file.name == delete_file %}
            <input type="hidden" name="delete_filename[]" value="{{ file.name }}" />
          {% endif %}
        </td>
        <td class="type">{{ file.name|file_type }}</td>
        <td class="size">{{ file.size|human_readable_bytes }}</td>
        <td class="action">
          {% can_create_version entity.type as permission %}
          {% if permission %}
            <a class="delete-file" href="{{ entity|url_newversion }}?deletefile={{ file.name }}" title="delete this file"><img src="{% static 'img/delete.png' %}" alt="delete this file" title="delete this file"/></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
