{% load entities %}
{% load static %}

<h3>Associated files</h3>
<table id="entityversionfilestable" {% if version %}data-version-sha="{{ version.hexsha }}"{% endif %}>
  <thead>
    <tr>
      <th>Main File</th>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {% if version %}
    {% for file in version.files %}
      {% if file.name != 'manifest.xml' %}
      {% if not edit or file.name not in version.ephemeral_file_names %}
      <tr {% if file.name == delete_file %} class="deleting"{% endif %}>
        <td>
          {% if edit %}
            <input type="radio" name="mainEntry" value="{{ file.name }}" {% if file.name == master_filename %}checked="checked"{% endif %}>
          {% else %}
            {% if file.name == master_filename %}<img src="{% static 'img/check.png' %}" />{% endif %}
          {% endif %}
        </td>
        <td class="filename">
          {{ file.name }}
          {% if file.name == delete_file %}
            <input type="hidden" name="delete_filename[]" value="{{ file.name }}" />
          {% endif %}
        </td>
        <td class="type">{{ file.name|file_type }}</td>
        <td class="size">{{ file.size|human_readable_bytes }}</td>
        <td class="action">
          {% can_create_version entity as permission %}
          {% if permission %}
            <a class="delete-file" href="{% entity_url 'newversion' entity %}?deletefile={{ file.name }}" title="delete this file"><img src="{% static 'img/delete.png' %}" alt="delete this file" title="delete this file"/></a>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  </tbody>
</table>
