{% extends "base.html" %}
{% load staticfiles %}
{% load entities %}

{% block title %}{% if object.id %}Story {{ object.title }}{% else %}New Story{% endif %} - {% endblock title %}

{% block content %}
{{form}}

  <form method="POST" action="">
    {% csrf_token %}

    {{ formset.management_form }}
    <p>Collaborators can create new versions of the {{ entity.display_type }}, add tags and change the {{ entity.display_type }} visibility.</p>

    <table class="formset allow-add">
      <tbody>
        {% for form in formset.forms %}

          <tr>
              <td>
                {% if form.collaborator %}
                  {{ form.collaborator.get_full_name }}
                {% endif %}
                {{ form.email }}
                {{ form.email.errors.as_ul }}
              </td>
              <td>
                <a href="#" class="delete-row">
                  {{ form.DELETE }}
                  <img src="{% static 'img/delete.png' %}" alt="remove collaborator" title="remove collaborator"/>
                </a>
              </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>


{% endblock %}
