{% extends "base.html" %}
{% load entities %}
{% load stories %}

{% block title %}Stories groups you can edit - {% endblock title %}

{% block content %}


  <a class="button" href="{% url 'entities:list' 'model' %}">models</a>
  <a class="button" href="{% url 'entities:modelgroup' %}">model groups</a>
  <a class="button selected" href="{% url 'stories:stories' %}">stories</a>
  <a class="button" href="{% url 'entities:list' 'protocol' %}">protocols</a>
  <a class="button" href="{% url 'datasets:list' %}">datasets</a>
  <a class="button" href="{% url 'fitting:list' 'spec' %}">fitting specifications</a>

  <section id="storygrouplist">
    <h2>Your stories</h2>

    {% can_create_entity 'model' as permission %}
    {% if permission %}
    <small><a href="{% url 'stories:story_create' %}" class="pointer">Create a new story</a></small>
    {% else %}
    <small>Your account doesn't have the authority to create new stories; please <a href="{% url 'contact' %}">contact us</a> to request permission.</small>
    {% endif %}

    <ul>
      {% for story in object_list %}
        {% if story.author == user %}
          <li title="{{ story.title }}">
              <a class="storylink" href="{% url 'stories:story_render' story.id %}"><strong>{{ story.title }}</strong></a>
              <small>(<a href="{% url 'stories:story_edit' story.id %}">edit</a>, <a href="javascript:navigator.clipboard.writeText('{{ request.scheme }}://{{ request.get_host }}{% url 'stories:story_render' story.id %}')">copy link</a>)</small>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2>Other stories</h2>

    <ul>
      {% for story in object_list %}
        {% if story.author != user %}
          {% can_manage_story story as can_edit %}
          <li title="{{ story.title }}">
              <a class="storylink" href="{% url 'stories:story_render' story.id %}"><strong>{{ story.title }} <em>(by {{ story.author.full_name }})</em> </a>
              <small>({% if can_edit %}<a href="{% url 'stories:story_edit' story.id %}">edit</a>, {% endif %}<a href="javascript:navigator.clipboard.writeText('{{ request.scheme }}://{{ request.get_host }}{% url 'stories:story_render' story.id %}')">copy link</a>)</small>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  </section>

{% endblock content %}

