{% extends "base.html" %}
{% load staticfiles %}
{% load entities %}

{% block title %}{% if object.id %}Story {{ object.title }}{% else %}New Story{% endif %} - {% endblock title %}
{% block content %}
  {% if object.id %}{% include "./includes/story_header.html" %}{% endif %}

<div id='newstoryform'>
  {% if not object.id %}<h1>Create story</h1>{% endif %}

  <form method="POST" action="" novalidate id="storyform">
    {% csrf_token %}

<ul class="errorlist"><li>{{ form.non_field_errors }}</li></ul>

    <p>{{ form.title.label_tag }} {{ form.title }}</p>
    {% if  form.title.errors  %}
        <ul class="errorlist"><li>{{ form.title.errors }}</li></ul>
    {% endif %}
    <p>{{ form.visibility.label_tag }} {{ form.visibility }} <span class="helptext">{{form.visibility.help_text | safe }}</span></p>


{{ formset.management_form }}
{{ formsetgraph.management_form }}

    <table class="formset manual-add" id="storyparts">
      <tbody>
        {% for form in formset %}
            <tr class="storypart description" style="visibility: hidden"><td>
                <textarea class="partval" cols="0" rows="0">{% if form.description.value %}{{form.description.value}}{% endif %}</textarea>
                <input class="partorder" type="hidden" value={%if form.ORDER.value != None %}{{form.ORDER.value}}{% else %}''{% endif %}>
                <input class="partdel" type="hidden" value="{%if form.DELETE.value %}true{% else %}false{% endif %}">
                <input class="parterr"  type="text" value='{% if form.description.errors %}{{form.description.errors}}{% endif %}'>
            </td><td></td></tr>
        {% endfor %}
        {% for form in formsetgraph %}
            <tr class="storypart graph" style="visibility: hidden"><td>
                <input class="models_or_groupval" type="hidden" value="{% if form.models_or_group.value %}{{form.models_or_group.value}}{% endif %}">
                <input class="protocolval" type="hidden" value="{% if form.protocol.value != None%}{{form.protocol.value}}{% endif %}">
                <input class="graphfiles" type="hidden" value="{% if form.graphfiles.value %}{{form.graphfiles.value}}{% endif %}">
                <input class="partorder" type="hidden" value={%if form.ORDER.value != None %}{{form.ORDER.value}}{% else %}''{% endif %}>
                <input class="partdel" type="hidden" value="{%if form.DELETE.value %}true{% else %}false{% endif %}">
                <input class="models_or_grouperr"  type="text" value='{% if form.models_or_group.errors %}{{form.models_or_group.errors}}{% endif %}'>
                <input class="protocolerr"  type="text" value='{% if form.protocol.errors %}{{form.protocol.errors}}{% endif %}'>
                <input class="graphfileserr"  type="text" value='{% if form.graphfiles.errors %}{{form.graphfiles.errors}}{% endif %}'>
            </td><td></td></tr>
        {% endfor %}
      </tbody>
        <tfoot style="border-top: 1px solid black;">
        <tr class="dynamic-form-add">
            <td class="django-formset-add td" colspan="2">
                <a id="add-description">add decription text</a>
                <a id="add-graph">add graph</a>
            </td>
        </tr>
        </tfoot>
    </table>

    <button id="savebutton">Save Story</button>
    </p>
  </form>
</div>
{% endblock %}

