{% extends "base.html" %}
{% load static %}
{% load stories %}
{% load experiments %}

{% block title %}Story {{ object.title }} - {% endblock title %}
{% block content %}

{%if object.id %}
  {% include "./includes/story_header.html" %}
{% else %}
  <h1>Create a new story</h1>
{% endif %}

<div id='newstoryform'>

<form method="POST" action="" id="storyform">
 {% csrf_token %}

  <input type="hidden" id="base_uri" value="{{base_uri}}">
  <ul class="errorlist"><li>{{ form.non_field_errors }}</li></ul>

  <p>{{ form.title.label_tag }} {{ form.title }}</p>
  {% if  form.title.errors  %}
      <ul class="errorlist"><li>{{ form.title.errors }}</li></ul>
  {% endif %}
  <p>{{ form.visibility.label_tag }} {{ form.visibility }} <span class="helptext">{{form.visibility.help_text | safe }}</span></p>
  <p>Graph visualizer {{ form.graphvisualizer }}<span class="helptext">{{form.graphvisualizer.help_text | safe }}</span></p>

{{ formset.management_form }}
{{ formsetgraph.management_form }}


  <table class="formset manual-add" id="storyparts">
      <tbody>
{% for part in storyparts %}
    {% if part.DELETE and part.DELETE.value %}
    {% elif part.description %}
              <tr class="storypart description">
                  <td>
                      <div class="storypart-controls">
                          <input class="uppart" type="button" value="▲" style="font-size:15px;margin:0;padding:0;width:20px;" title="move up" alt="move up">
                          <input class="downpart" type="button" value="▼" style="font-size:15px;margin:0;padding:0;width:20px;" title="move down" alt="move down">
                          <img class="deletepart" alt="remove story part" title="remove story part">
                          <input class="order" type="hidden" name="text-{{part.number.value}}-ORDER" id="id_text-{{part.number.value}}-ORDER" value="{{forloop.counter0}}">
                          <input class="number" type="hidden" name="text-{{part.number.value}}-number" id="id_text-{{part.number.value}}-number" value="{{part.number.value}}">
                      </div>
                  </td>
                  <td class="storypart-content">
                    <ul class="errorlist"><li>{{ part.non_field_errors }}</li></ul>
                    <ul class="errorlist"><li>{{ part.description.errors }}</li></ul>
                    {{part.description}}
                  </td>
              </tr>
    {% elif part.protocol %}
              <tr class="storypart graph">
                 <td>
                    <div class="storypart-controls">
                      <input class="uppart" type="button" value="▲" style="font-size:15px;margin:0;padding:0;width:20px;" title="move up" alt="move up">
                      <input class="downpart" type="button" value="▼" style="font-size:15px;margin:0;padding:0;width:20px;" title="move down" alt="move down">
                      <img class="deletepart" alt="remove story part" title="remove story part"/>
                      <input class="order" type="hidden" name="graph-{{part.number.value}}-ORDER" id="id_graph-{{part.number.value}}-ORDER" value="{{forloop.counter0}}">
                      <input type="hidden" name="graph-{{part.number.value}}-currentGraph" class="currentGraph" id="id_graph-{{part.number.value}}-currentGraph" value="{{part.currentGraph.value}}">
                      <input class="number" type="hidden" name="graph-{{part.number.value}}-number" id="id_graph-{{part.number.value}}-number" value="{{part.number.value}}">
                    </div>
                  </td>
                  <td class="storypart-content">
                    <ul class="errorlist"><li>{{ part.non_field_errors }}</li></ul>
                    <div class="StoryGraphRadio" {% if part.currentGraph.value == '' or part.currentGraph.value == '/'%} style="display:none"{% endif %}>
                      <input type="radio" name="graph-{{part.number.value}}-update" value="" id="id_graph-{{part.number.value}}-update_1" class="update_1 preview-graph-control" name="graph-{{part.number.value}}-update" {% if not part.update.value %} checked {%endif%}>
                       <label for="id_graph-{{part.number.value}}-update_1"><small><em>{{part.currentGraph.value}}</em></small></label>
                          {{part.experimentVersions}}
                       <br/>
                    </div>

                    <div class="StoryGraphRadio" {% if part.currentGraph.value == '' or part.currentGraph.value == '/'%} style="display:none"{% endif %}>
                      <input type="radio" name="graph-{{part.number.value}}-update" value="True" id="id_graph-{{part.number.value}}-update_0" class="update_0 preview-graph-control" name="graph-{{part.number.value}}-update" {% if part.update.value %} checked {%endif%}>
                      <label for="id_graph-{{part.number.value}}-update"><em>Update graph</em></label>
                      {{part.experimentVersionsUpdate}}
                      {{part.graphfilename}}
                      <br/>
                    </div>
                    <ul class="errorlist"><li>{{ part.id_models.errors }}</li></ul>
                    <label id="{{part.number.value}}-models_or_group-label" for="id_graph-{{part.number.value}}-models_or_group">Select model or model group: </label><br/>

      <div class="modelgroup-model-selector">
             <div class="modelgroup-model-selector-row">
                <div class="modelgroup-model-selector-col left"><h5>Available models</h5></div>
                <div class="modelgroup-model-selector-col"><h5>Selected models & groups</h5></div>
             </div>
             <div class="modelgroup-model-selector-row">
                <div class="modelgroup-model-selector-col left"><label>Filter search: </label><input class="searchModel" id="id_graph-{{part.number.value}}-searchAvailableModel" autocomplete="off"  {% if object.id %}disabled{% endif %}><br/></div>
                <div class="modelgroup-model-selector-colt"><ul class="errorlist"><li></li></ul></div>
             </div>

             <div class="modelgroup-model-selector-row">
                <div class="modelgroup-model-selector-col">
                    <select class="selectList modelgroupselect" id="id_graph-{{part.number.value}}-availableModels" size="{{part.models_or_group|length}}" {% if object.id %}disabled{% endif %}>
                        {% for mg in part.models_or_group %}
                            {% if not mg.data.selected %}{{mg}}{% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="modelgroup-model-selector-col div-table-buttons">
                   <input class="deselectModelFromGroup" id="id_graph-{{part.number.value}}-deselectModelFromGroup" type="button" value="◀" style="display: inline-block;" title="move left" alt="move left" {% if object.id %}disabled{% endif %}>
                   <input class="slectModelForGroup" id="id_graph-{{part.number.value}}-slectModelForGroup" type="button" value="▶" style="display: inline-block;" title="move right" alt="move right" {% if object.id %}disabled{% endif %}>
                </div>
                <div class="modelgroup-model-selector-col">
                    <select name="graph-{{part.number.value}}-id_models" class="selectList modelgroupselect selectedmodels" id="id_graph-{{part.number.value}}-id_models" size="{{part.models_or_group|length}}" multiple {% if object.id %}disabled{% endif %}>
                        {% for mg in part.models_or_group %}
                            {% if mg.data.selected %}{{mg}}{% endif %}
                        {% endfor %}
                    </select>
                </div>
           </div>                        
                    <ul class="errorlist"><li>{{ part.protocol.errors }}</li></ul>
                    <label id="{{part.number.value}}-protocol" for="id_graph-{{part.number.value}}-protocol">Select protocol: </label>
                    <select name="graph-{{part.number.value}}-protocol" class="graphprotocol" id="id_graph-{{part.number.value}}-protocol" disabled>
                        {% for prot in part.protocol %}
                            {{prot}}
                        {% endfor %}
                    </select><br/>

                    <ul class="errorlist"><li>{{ part.grouptoggles.errors }}</li></ul>Select which groups can be switched on and off in the graph: 
                    <div id="{{part.number.value}}groupToggleBox" class="groupToggleBox">
                        {% for toggle in part.grouptoggles %}
                            <label for="{{ toggle.data.id  }}"><input class="groupToggleSelect" type="checkbox" name="{{ toggle.data.name }}" value="{{ toggle.data.value  }}" id="toggle.data.id" {%if toggle.data.attrs.checked %}checked{% endif %} disabled>{{ toggle.data.label }}</label>
                        {% endfor %}
                    </div>
                    <ul class="errorlist"><li>{{ part.graphfiles.errors }}</li></ul>
                    <label id="{{part.number.value}}-graphfiles" for="id_graph-{{part.number.value}}-graphfiles">Select graph: </label>
                    <select name="graph-{{part.number.value}}-graphfiles" class="graphfiles" id="id_graph-{{part.number.value}}-graphfiles" disabled>
                        {% for graph in part.graphfiles %}
                            {{graph}}
                        {% endfor %}
                    </select><br/><br/>
                    <div id="{{part.number.value}}graphPreviewBox" class="graphPreviewBox">
                      <div class="graphPreviewDialog">{% if  part.update.value and not part.graphfiles.value %}Please select a graph...{% else %}<input type="hidden" id="{{part.number.value}}entityIdsToCompare" class="entityIdsToCompare" value="{{base_uri}}/experiments/compare{{part.experimentVersions.value}}/show/{%if part.update.value %}{{ part.graphfiles.value  }}{% else %}{{ part.graphfilename.value }}{%endif%}/{{form.graphvisualizer.value}}">
                        <div class="entitiesToCompare" id="{{part.number.value}}entitiesToCompare" data-comparison-href="{{base_uri}}/experiments/compare/{%if part.update.value %}{{ part.experimentVersionsUpdate.value  }}{% else %}{{part.experimentVersions.value}}{% endif %}/info">loading...</div>
                          <div id="{{part.number.value}}filedetails" class="filedetails">
                          <div id="{{part.number.value}}filedisplay"></div>
                        </div>{% endif %}
                      </div>
                    </div>
                    <br/>
                  </td>
              </tr>
    {% endif %}
{% endfor %}
{% for part in storyparts %}
    {% if part.DELETE and part.DELETE.value and part.description %}
      <input type="hidden" name="text-{{part.number.value}}-DELETE" id="id_text-{{part.number.value}}-DELETE" value="true">
      <input type="hidden" name="text-{{part.number.value}}-number" id="id_text-{{part.number.value}}-number" value="{{part.number.value}}">
    {% elif part.DELETE and part.DELETE.value %}
      <input type="hidden" name="graph-{{part.number.value}}-DELETE" id="id_graph-{{part.number.value}}-DELETE" value="true">
      <input type="hidden" name="graph-{{part.number.value}}-number" id="id_graph-{{part.number.value}}-number" value="{{part.number.value}}">
    {% endif %}
{% endfor %}
      </tbody>
      <tfoot style="border-top: 1px solid black;">
        <tr class="dynamic-form-add">
          <td class="django-formset-add td" colspan="2">
              <a id="add-description">add decription text</a>
              <a id="add-graph">add graph</a>
          </td>
        </tr>
      </tfoot>
  </table>
  <button id="savebutton" class="modelGroupSavebutton" {% if not object.id %}disabled{% endif %}>Save Story</button> <span id="gpahSubmitWarning" class="{%if object.id %}hiddenWarning{% else %}shownWarning{% endif %}">Some graphs have not been fully specified</span>
  </form>
</div>

{% endblock %}
