{% extends "base.html" %}
{% load static %}

{% block title %}About - {% endblock title %}

{% block content %}
  <h1>About the Web Lab</h1>
  <p>
    The key idea underpinning the Web Lab is that when mathematical and computational models are
    being developed, a primary goal should be the continuous comparison of those models
    against experimental data. When computational models are being re-used in new studies, it is similarly
    important to check that they behave appropriately in the new situation to which you're applying them.
  </p>
  <p>
    To achieve this goal, it's a pre-requisite to be able to replicate <i>in-silico</i> precisely the same protocols used in an experiment of interest.
    We are therefore developing a language for describing rich 'virtual experiment' protocols,
    and software for running these on compatible models.
    This website provides a front-end to a prototype of that language and software.
  </p>
  <p>
    Please <a href="{% url 'experiments:list' %}">browse around</a> and view the results of protocols encoded so far, run on a range of cell models.
    If you wish to evaluate your own models under these protocols, you will need to <a href="{% url 'accounts:register' %}">register for an account</a> and have it approved by a site admin.
    By default your own models, protocols and experiments are private so that only you may view them.
    This can be altered to 'public' to publish them to the world. You can also add other users as collaborators so they can view them and add new versions.
  </p>
  <p>
    Currently only trusted users may upload new protocols, but if you have one you'd like to add to the system, please do
    <a href="{% url 'contact' %}">contact us</a>.
  </p>

  <h2>Further reading</h2>
  <p>
    The <a href="https://www.sciencedirect.com/science/article/pii/S0006349515047530">initial paper about the Web Lab</a> was published in <i>Biophysical Journal</i>.
    <!-- A <a href="https://peerj.com/preprints/1338/">preprint version is available from PeerJ</a>. -->
    A <a href="https://www.biorxiv.org/content/early/2018/01/31/257683">preprint of our next Web Lab paper</a> sets out our plans for the next two years.
  </p>
  <p>
    For more background on the 'Functional Curation' experiment execution software, our <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2011.06.003">2011 reference publication</a> is a good place to start.
    We also have a <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2014.10.001">paper on the underlying concept of <i>virtual experiments</i></a>
    (along with an <a href="https://peerj.com/preprints/273/">open access preprint</a>).
    Full details about the <a href="https://chaste.cs.ox.ac.uk/trac/wiki/FunctionalCuration">open source software implementing the back-end for this system</a> can be found on the Chaste website.
  </p>

  <h2>User documentation</h2>
  <ul>
    <li>We ran a <a href="https://chaste.cs.ox.ac.uk/trac/wiki/FunctionalCuration/Workshop2015">training workshop</a> for Web Lab version 1 in September 2015, materials from which are available.</li>
    <li><a href="https://chaste.cs.ox.ac.uk/trac/wiki/FunctionalCuration/ProtocolSyntax">Documentation on the protocol language</a> is available on the Chaste website.</li>
    <li>A <a href="https://groups.google.com/forum/#!forum/cardiac-web-lab-users">users' mailing list</a> exists for asking questions about the Web Lab.</li>
    <li>If you discover unexpected virtual experiment results, read our <a href="{% url 'for_authors' %}">hints for model authors on diagnosing likely causes</a>.</li>
  </ul>

  <h2>Future plans</h2>
  <p>
    The main features on our "to do" list include:
  </p>
  <ul>
    <li>Utilise an ontology for the standardised names used to identify model constructs accessible to protocols,
        to allow even more sophisticated interfacing between models and protocols.</li>
    <li>With community agreement, annotate models directly in the <a href="http://models.cellml.org/electrophysiology">CellML repository</a> using these standardised names.</li>
    <li>Develop a protocol editor, facilitating the creation of new protocols.</li>
    <li>Propose some of our protocol language features for the next versions of <a href="http://sed-ml.org/">SED-ML</a>.</li>
    <li>Link directly to databases of wet-lab experimental data from the same protocols,
        to allow comparison of simulated and real experiments.
        This will allow us to start to automatically validate models,
        and begin to think about auto-fitting, and even auto-developing models!</li>
  </ul>
  <p>
    You can read more in a <a href="https://www.biorxiv.org/content/early/2018/01/31/257683">preprint of our next Web Lab paper</a>.
    Please <a href="{% url 'contact' %}">get in touch</a> if you would like to join forces to help with any of these.
  </p>
  <p>
    As well as the <a href="https://chaste.cs.ox.ac.uk/trac/wiki/FunctionalCuration">back-end simulation tool</a> being open source,
    the <a href="https://github.com/ModellingWebLab/WebLab">code for this website</a> is also available under the same open source licence.
    The experimental prototype incorporating parameter fitting can be found in the old <a href="https://github.com/ModellingWebLab/fcweb/tree/cardiac-fitting">‘cardiac-fitting’ branch</a>.
    All work on this next version of the Web Lab is taking place within the <a href="https://github.com/ModellingWebLab">ModellingWebLab</a> GitHub organisation.
  </p>
  <p>
    We would welcome collaborations with any who would be interested in producing a similar resource for a different scientific domain.
    Equally, anyone interested in contributing new plugins for displaying or comparing results is encouraged to <a href="{% url 'contact' %}">contact us</a>.
  </p>

  <h2>Acknowledgements</h2>
  <img style="float:left;margin:0 5px 10px 0;" src="{% static 'img/chaste.jpg' %}" alt="Chaste project logo"/>
  <p>
    We would like to thank Steve Niederer and the Noble modelling group for discussions on ways to test cell model behaviour.
    We gratefully acknowledge funding from the <a href="http://www.2020science.net/research/functional-curation">2020 Science Programme</a>
    and <a href="https://bbsrc.ukri.org/research/grants-search/AwardDetails/?FundingReference=BB%2fP010008%2f1">BBRSC</a>.
    The functional curation back-end software is built on top of <a href="https://chaste.cs.ox.ac.uk">Chaste</a>.
  </p>

{% endblock content %}
