<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock %}Web Lab - Cardiac Electrophysiology
    </title>

    {% include "includes/head.html" %}
  </head>
  <body>
    <div id="page">

    <header>
      <div id="logo">
        <br /><br />
      </div>

      {% include "includes/navbar.html" %}

      <div id="breadcrumb"></div>
    </header>

    {% include "includes/notifications.html" %}

    <div id="body">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      Cardiac Electrophysiology Web Lab &copy; 2013-{% now 'Y' %} University of Oxford, 2016-{% now 'Y' %} University College London
    </footer>

    </div>

  </body>
</html>
