{% load staticfiles %}

<script type='text/javascript'>
  var staticPath = "{% static '' %}";
  var preferences = new Array ();
</script>
<meta charset="utf-8" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel='stylesheet' href="{% static 'css/jquery-ui-1.10.4.custom.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
<script src="{% static 'build/js/main.js' %}"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    "HTML-CSS": {
      imageFont:null
      }
  });
</script>
<script src="{% static 'js/3rd/MathJax-2.4-latest/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML"></script>
