
<div id="notifications">

  {% comment "needs converting from JSP" %}
  <div id="error"  <c:if test="${notes == null || !notes.error}">class="invisible"</c:if>     >
    <h3>The following errors occurred:</h3>
    <ul id='errorlist'>
      <c:forEach items="${notes.errors}" var="err" >
        <li>${err}</li>
      </c:forEach>
    </ul>
    <a class="pointer" id="dismisserrors">dismiss</a>
  </div>

  <div id="info"  <c:if test="${notes == null || !notes.info}">class="invisible"</c:if>     >
    <h3>Note:</h3>
    <ul id='infolist'>
      <c:forEach items="${notes.infos}" var="info" >
        <li>${info}</li>
      </c:forEach>
    </ul>
    <a class="pointer" id="dismissnotes">dismiss</a>
  </div>
  {% endcomment %}

</div>
