
<div id="notifications">

  <div id="error" class="invisible">
    <h3>The following errors occurred:</h3>
    <ul id='errorlist'>
      {% comment %}
      <c:forEach items="${notes.errors}" var="err" >
        <li>${err}</li>
      </c:forEach>
      {% endcomment %}
    </ul>
    <a class="pointer" id="dismisserrors">dismiss</a>
  </div>

  <div id="info" class="invisible">
    <h3>Note:</h3>
    <ul id='infolist'>
      {% comment %}
      <c:forEach items="${notes.infos}" var="info" >
        <li>${info}</li>
      </c:forEach>
      {% endcomment %}
    </ul>
    <a class="pointer" id="dismissnotes">dismiss</a>
  </div>

</div>
